.car-details {
  background-color: white;
  width: 100%;
}

/* .carousel .carousel-control-prev,
.carousel .carousel-control-next {
  opacity: 0.2;
} */

.car-img {
  height: 350px;
}

.cars-container {
  width: 100%;
  max-width: 576px;
}