.menuBtn {
  cursor: pointer;
}

.profile-avatar {
  width: 50px;
  height: 50px;
}

.nav-list li {
  list-style-type: none;
  margin: 10px 0;
  transition: padding 0.3s;
}

.nav-list li:hover {
  border-left: 2px solid red;
  background-color: rgb(238, 237, 237);
  padding-left: 30px !important;
}

.offcanvas hr {
  background-color: rgb(143, 134, 134);
}

.offcanvas ul a {
  text-decoration: none;
  color: inherit;
}
