.bg-img {
  /* background-size: cover;
  background-repeat: no-repeat; */
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-red {
  background-color: #ec6132;
}

.bg-green {
  background-color: #00d792;
}

.cl-red {
  color: #ec6132;
}

header {
  background-color: white;
}

.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 97, 50, 0.6) !important;
}

a {
  color: #ec6132;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #ec6132;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

h1 {
  font-size: 1.3rem;
}

h2, h3, h4 {
  font-size: 1.1rem;
}
